
<h1>{{productsList}}</h1>

<select (change)='onOptionsSelected($event)'>
  <option>Sort By:</option>
  <option value="lth">Price : Low to High</option>
  <option value="htl">Price : High to Low</option>
  <option value="nasc">Name : Ascending Order</option>
  <option value="ndesc">Name : Descending Order</option>
</select>

<ul [ngSwitch]="optionSelected">
  <li *ngSwitchCase="'lth'">
      <app-a></app-a>
  </li>
  <li *ngSwitchCase="'htl'"><app-b></app-b></li>
  <li *ngSwitchCase="'nasc'"><app-c></app-c></li>
  <li *ngSwitchCase="'ndesc'"><app-d></app-d></li>
  <li *ngSwitchDefault></li>
</ul> 


<div>
  <input type="number" min="1" max="5" value="1" name="num" (change)="onChange($event)">
  
  <h1>{{total}}</h1>

</div>










